- name: Configuration des serveurs
  hosts: dc02,iis
  roles:
    - ad/windows

- name: Taches role ad-ds
  hosts: dc02
  roles:
    - ad/ad-ds


- name: Taches role IIS
  hosts: iis
  roles:
    - ad/iis


