- name: Configuration du DNS
  ansible.windows.win_dns_client: 
    adapter_names: "Ethernet 2"
    dns_servers: 
    - '8.8.8.8'
    - '127.0.0.1'

- name: Add a network static route
  ansible.windows.win_command: route -p add 0.0.0.0 mask 0.0.0.0 10.10.1.1 metric 1


- name: Desactivation des firewall
  ansible.windows.win_powershell:
    script: |
      Set-NetFirewallProfile -Profile Domain,Public,Private -Enabled False
