! vi: ft=xdefaults

! General settings
Xft*dpi:                125.37
Xft*antialias:          true
Xft*hinting:            full

#include ".Xresources.d/colors"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"
#include ".Xresources.d/emacs"

URxvt.font:           xft:{{main_font}}:pixelsize=14:antialias=true
URxvt.imFont:         xft:{{main_font}}:pixelsize=14:antialias=true
URxvt.boldFont:       xft:{{main_font}}:pixelsize=14:antialias=true
URxvt.italicFont:     xft:{{main_font}}:pixelsize=14:antialias=true
URxvt.boldItalicFont: xft:{{main_font}}:pixelsize=14:antialias=true

